<%= link_to url_for %>

<hr>

<h3>form</h3>

<form>

  <div>
    <span>
      <label>date</label>
      <input type='date' name='date' value='<%= params[:date] %>'>
    </span>

    <span>
      <label>month</label>
      <input type='month' name='month' value='<%= params[:month] %>'>
    </span>

    <span>
      <label>integer</label>
      <input type='number' name='integer' value='<%= params[:integer] %>'>
      (1〜10)
    </span>

    <span>
      <label>checkbox</label>
      <input type='hidden' name='checkbox[]'>
      <label>
        <%= check_box_tag 'checkbox[]', 'value1', 'value1'.in?(params[:checkbox]) %>
        value1
      </label>
      <label>
        <%= check_box_tag 'checkbox[]', 'value2', 'value2'.in?(params[:checkbox]) %>
        value2
      </label>
    </span>
  </div>

  <button type='submit'>submit</button>
</form>

<hr>

<h3>params</h3>
<%= debug params %>

<hr>

<h3>cookies</h3>
<%= debug cookies.signed[:rparam_memory] %>
